body {
  font-family: 'Open Sans', Avenir, Verdana, Geneva, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #484848;
  background: #f6f6f6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #36b1bf;
}

#wrapper {
  max-width: 55em;
  margin: auto;
}

header {
  margin-top: 2em;
  overflow: auto;
  border-bottom: 3px solid #36b1bf;
}

header * {
  margin: 0;
}

header p {
  font-size: 14px;
}

footer {
  border-top: 3px solid #36b1bf;
}