<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/assets/base.css">
  <link rel="alternate" type="application/atom+xml" href="/feed.xml">
</head>

<body class="post">
  {% include 'header' %}
    <article>
        <header>
            <h1>{{ title }}</h1>
            <h2 class="date">{{ date | date: "%Y-%m-%d"  }}
        </header>
        {{ content }}
    </article>
  {% include 'footer' %}
</body>

</html>