@textColor: #484848;
@headingColor: #36b1bf;
@backgroundColor: #f6f6f6;
@baseFontSize: 18px;
@smallFontSize: 14px;
@baseLineHeight: 1.6;
@baseFont: 'Open Sans', Avenir, Verdana, Geneva, sans-serif;
@headingFont: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@linkColor: #a0cf84;
@linkHover: darken(@linkColor, 25%);
@lighterBlue: #acc8cc;
@darkerBlue: darken(@lighterBlue, 50%);

/* Mixin */
.transition (@prop: all, @time: 1s, @ease: linear) {
    -webkit-transition: @prop @time @ease;
    -moz-transition: @prop @time @ease;
    -o-transition: @prop @time @ease;
    -ms-transition: @prop @time @ease;
    transition: @prop @time @ease;
}

/* Mixin */
.gradient (@origin: left, @start: #ffffff, @stop: #000000) {
    background-color: @start;
    background-image: -webkit-linear-gradient(@origin, @start, @stop);
    background-image: -moz-linear-gradient(@origin, @start, @stop);
    background-image: -o-linear-gradient(@origin, @start, @stop);
    background-image: -ms-linear-gradient(@origin, @start, @stop);
    background-image: linear-gradient(@origin, @start, @stop);
}

.quick-gradient (@origin: left, @alpha: 0.2) {
    background-image: -webkit-linear-gradient(@origin, rgba(0,0,0,0.0), rgba(0,0,0,@alpha));
    background-image: -moz-linear-gradient(@origin, rgba(0,0,0,0.0), rgba(0,0,0,@alpha));
    background-image: -o-linear-gradient(@origin, rgba(0,0,0,0.0), rgba(0,0,0,@alpha));
    background-image: -ms-linear-gradient(@origin, rgba(0,0,0,0.0), rgba(0,0,0,@alpha));
    background-image: linear-gradient(@origin, rgba(0,0,0,0.0), rgba(0,0,0,@alpha));
}

body {
	color: @textColor;
	background: @backgroundColor;
	font-size: @baseFontSize;
	font-family: @baseFont;
	line-height: @baseLineHeight;
}

h1, h2, h3, h4, h5, h6 {
	font-family: @headingFont;
	color: @darkerBlue;
}

#wrapper {
	margin: auto;
	max-width: 55em;
}
a {
	color: @linkColor;
	.transition(all, 0.5s, ease-in);
	&:hover {
		color: @linkHover;
	}
}
header {
	border-bottom: 2px solid @headingColor;
	overflow: auto;
	margin-top: 2em;
}
header {
	* {
		margin: 0;
	}
	p {
		font-size: @smallFontSize;
	}
}
footer {
	border-top: 2px solid @headingColor;
	font-size: @smallFontSize;
}