@textColor: #484848;
@headingColor: #36b1bf;
@backgroundColor: #e9e9e9;
@linkColor: #a0cf84;
@linkHover: darken(@linkColor, 25%);
@lighterBlue: #acc8cc;
@darkerBlue: darken(@lighterBlue, 30%);
@baseFontSize: 18px;
@smallFontSize: 14px;
@bigFontSize: 24px;
@baseFontWeight: 300;
@baseLineHeight: 1.6;
@baseFont: 'Open Sans', Avenir, Verdana, Geneva, sans-serif;
@headingFont: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@boldWeight: 400;

/* Mixin */
.transition (@prop: all, @time: 1s, @ease: linear) {
    -webkit-transition: @prop @time @ease;
    -moz-transition: @prop @time @ease;
    -o-transition: @prop @time @ease;
    -ms-transition: @prop @time @ease;
    transition: @prop @time @ease;
}

/* Mixin */
.gradient (@origin: left, @start: #ffffff, @stop: #000000) {
    background-color: @start;
    background-image: -webkit-linear-gradient(@origin, @start, @stop);
    background-image: -moz-linear-gradient(@origin, @start, @stop);
    background-image: -o-linear-gradient(@origin, @start, @stop);
    background-image: -ms-linear-gradient(@origin, @start, @stop);
    background-image: linear-gradient(@origin, @start, @stop);
}

.quick-gradient (@origin: left, @alpha: 0.2) {
    background-image: -webkit-linear-gradient(@origin, rgba(0,0,0,0.0), rgba(0,0,0,@alpha));
    background-image: -moz-linear-gradient(@origin, rgba(0,0,0,0.0), rgba(0,0,0,@alpha));
    background-image: -o-linear-gradient(@origin, rgba(0,0,0,0.0), rgba(0,0,0,@alpha));
    background-image: -ms-linear-gradient(@origin, rgba(0,0,0,0.0), rgba(0,0,0,@alpha));
    background-image: linear-gradient(@origin, rgba(0,0,0,0.0), rgba(0,0,0,@alpha));
}

// Display a list of links horizontally (CB) 
.horizontal (@dir: left) {
	ul, ol {
		display: block;
		margin: 0;
	}
	li {
		display: inline;
		float: @dir;
	}
	a {
		display: block;
		float: @dir;
	}
}

.nav-link {
	background-color: @lighterBlue;
	color: white;
	text-decoration: none;
	padding: .25em 1em;
	&:hover {
		background-color: @darkerBlue;
		color: #ffc;
	}
}

.mobile-nav-link {
	float: none;
	font-size: @bigFontSize;
	line-height: @baseLineHeight;
	display: block;
	text-align: center;
}

body {
	color: @textColor;
	background: @backgroundColor;
	font-size: @baseFontSize;
	font-weight: @baseFontWeight;
	font-family: @baseFont;
	line-height: @baseLineHeight;
}

h1, h2, h3, h4, h5, h6 {
	font-family: @headingFont;
	font-weight: @boldWeight;
	color: @darkerBlue;
}

#wrapper {
	margin: auto;
	max-width: 55em;
}
a {
	color: @linkColor;
	.transition(all, 0.25s, ease-in);
	&:hover {
		color: @linkHover;
	}
}
header {
	padding-left: 1em;
	overflow: auto;
	margin-top: 2em;
	* {
		margin: 0;
	}
	span {
		font-size: @smallFontSize;
	}
}
nav {
	overflow: auto;
	.horizontal(left);
	background-color: @lighterBlue;
	border: solid @darkerBlue;
	border-width: 1px 0;
	ul {
		a {
			.nav-link;
		}
		font-weight: @boldWeight;
		list-style: none;
		margin: 0; padding: 0;
	}
}
#main {
	margin-bottom: 3em;
	padding: 0 5em 0 1em;
	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 0;
	}
}
footer {
	border-top: 1px solid @darkerBlue;
	font-size: @smallFontSize;
	padding-left: 1em;
}
p {
	margin: 0 0 1.5em;
}
#menu-link { display: none; }
#hide-link { display: none; }
@media all and (max-width: 720px) {
	header {
		margin-top: 0;
		padding: 0;
	}
	#main {
		padding: 0;
	}
	footer {
		padding: 0;
	}
	nav {
		ul {
			display: block;
			li {
				float: none;
				display: block;
				a {
					.mobile-nav-link;
				}
			}
		}
	}
	#menu-link {
		display: block;
		.nav-link;
		.mobile-nav-link;
	}
	#hide-link {
		display: block;
	}
	#nav-list {
		height: 0;
		overflow: hidden;
		.transition(all, 2s, ease-in);
		&:target {
			height: auto;
		}
	}
}
