<!doctype html>
<html>
<head>
	<title>{{ title }}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Istok+Web" rel="stylesheet" type="text/css">
	<link href="css/main.css" rel="stylesheet">
</head>
<body>
	<div id="wrapper">
		{% include header.html %}
		{% include nav.html %}
		<section id="main">
			{{ content }}
		</section>
		{% include footer.html %}
	</div>
</body>
</html>